body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #e8eff5;
  padding: 5rem;
}

button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  max-width: 15rem;
  color: #000;
  background: #fff;
  line-height: 30px;
  border-radius: 40px;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  box-shadow: rgb(94, 94, 94) -2px -2px 0px 2px,
    rgb(105, 108, 107) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  transform: scale(1.01);
}

h3 {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(55, 55, 55);
}

h1 {
  width: 5rem;
  height: 5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
  box-shadow: 7px 7px 15px #bbcfda,-4px -4px 13px #fff, inset 4px 4px 8px rgba(209, 217, 230, 0.2),  inset -8px -8px 8px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3); 
  background: #e8eff5;
  transition: all 0.3s ease-in-out;
}

h1:hover {
  cursor: default;
}
